.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 6%;
  margin-bottom: 1%;
}
.book-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%;
}
.book-details .book-image {
  flex: 0.3;
  margin: 0 10%;
  /* height: 650px; */
  /* max-height: 600px; */
  border-radius: 19px;
}
.book-details .book-details-other {
  flex: 0.7;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}
.book-details-other .book-title {
  text-transform: capitalize;
  letter-spacing: 00.15em;
  font-size: 40px;
  text-align: left;
}
.book-details-other .book-author {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 25px;
  text-align: left;
}
.book-details-other .book-rating {
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.15em;
  display: flex;
  flex-direction: column;
  Z-index:-1;
}
.book-details-other .book-description {
  text-align: justify;
  letter-spacing: 0.12em;
  font-size: 20px;
  line-height: 35px;
  margin-top: 5%;
  margin-bottom: 3%;
}
.book-details-other .goToLibrary {
  width: 30%;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(65, 81, 154, 0.5);
  color: #000;
  opacity: 0.85;
  border-radius: 10px;
  padding: 0.5% 0.5%;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.155em;
  font-size: 18px;
  font-weight: 600;
}
.goToLibrary p {
  margin-left: 5%;
}
.goToLibrary .libraray-icon {
  width: 10%;
}
.book .goToHome {
  width: 10%;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #41519a;
  color: #fff;
  font-weight: 600;
  opacity: 0.85;
  border-radius: 10px;
  padding: 0.3% 0.5%;
  letter-spacing: 0.155em;
  cursor: pointer;
  text-transform: uppercase;
}
.goToHome p {
  margin-left: 5%;
}