/* CSS for header-box containing h1 and h2 ↓*/
.header-box {
  position: absolute;
  width: 22%;
  height: 26%;
  top: -1%;
  left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41519a;
  border-radius: 4%;
}

/* CSS for heading BOOK (h1) ↓*/
.header-box .header h1 {
  /* font-style: italic; */
  position: absolute;
  top: -10%;
  left: -3%;
  font-family: "Poppins", sans-serif;
  font-size: 6.85em;
  font-weight: 900;
  /*mix-blend-mode: darken;*/
  color: rgba(200, 216, 234, 1);
}

/* CSS for heading RECOMMENDER (h2) ↓ */
.header h2 {
  position: absolute;
  top: 60%;
  left: -1.85%;
  font-style: italic;
  font-size: 2.45em;
  font-weight: 900;
  color: rgba(200, 216, 234, 1);
}
/* -- Resposive */
@media screen and (width: 1024px) {
  .header-box .header h1 {
    display: none;
  }
  .header h2 {
    display: none;
  }
}
