@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* CSS for whole body ↓*/
body {
  background-color: rgba(200, 216, 234, 1);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
}

/* CSS for background image ↓*/
.background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 40%;
  z-index: -1;
}

/* CSS for header-box containing h1 and h2 ↓*/
.header-box {
  position: absolute;
  width: 19%;
  height: 26%;
  top: -1%;
  left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41519a;
  border-radius: 4%;
}

/* CSS for heading BOOK (h1) ↓*/
.header-box .header h1 {
  /*font-style: italic;*/
  position: absolute;
  top: -10%;
  left: -2%;
  font-family: "Poppins", sans-serif;
  font-size: 5.85em;
  font-weight: 900;
  /*mix-blend-mode: darken;*/
  color: rgba(200, 216, 234, 1);
}

/* CSS for heading RECOMMENDER (h2) ↓ */
.header h2 {
  position: absolute;
  top: 55%;
  left: -1.85%;
  font-style: italic;
  font-size: 2.118em;
  font-weight: 900;
  color: rgba(200, 216, 234, 1);
}

/* CSS for wrapping all cards in one class called cards-wrap*/
.cards-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15%;
  padding: 3%;
}

/* CSS for whole card ↓ */
.cards-wrap .card-item {
  width: 12%; /*201px*/
  margin: 0 1%;
  padding: 1% 0; /*15px 10px*/
}

/* CSS for card content i.e image, author, title ↓*/
.cards-wrap .card-inner {
  background: rgba(32, 54, 71, 1);
  border-radius: 7%;
  /*min-width: 225px;*/
  /* max-height: 600px;*/
  height: 95%;
  width: 100%;
}

/* CSS for book image ↓ */
.cards-wrap .card-inner img {
  width: 100%;
  object-fit: fill;
  border-radius: 7%;
  height: 100%;
  max-height: 60%;
  margin-bottom: 3%;
}

/* CSS for class roll-name ↓*/
.cards-wrap .card-inner .roll-name {
  font-weight: 500;
  /*letter-spacing: 1px;*/
  text-transform: uppercase;
  font-size: 0.7em;

  color: #fff;
  line-height: 100%;
  /* height: 100%; */
  max-height: 50%;
}

/* CSS for Roll Name p tag ↓*/
.roll-name p {
  text-align: center;
  cursor: pointer;
  padding: 1.5% 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

/* CSS for rating ↓ */
.card-inner .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60%;
  margin-top: 5%;
}

/* CSS for view button ↓*/
.btn-details {
  width: 90%;
  height: auto;
  background: rgba(65, 81, 140, 0.4);
  color: #fff;
  font-weight: 700;
  font-size: 0.7rem;
  opacity: 1.5;
  /* border-radius: 10px; */
  padding: 3% 2%;
  margin-top: 7%;
}
.wrapper-nav .menu-icon {
  display: none;
}
