@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* CSS for whole body ↓*/
body {
  background-color: rgba(200, 216, 234, 1);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
}
/* CSS for wrapping all cards in one class called cards-wrap*/

.cards-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7%;
  padding: 3% 0;
}

