@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* CSS for whole body ↓*/
body {
  background-color: rgba(200, 216, 234, 1);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* CSS for wrapping all cards in one class called cards-wrap*/
.cards-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 9%;
  padding: 3% 1%;
}

/* CSS for back to top button */
* {
  scroll-behavior: smooth;
}
.uparrow {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  background: #12232e;
  bottom: 5%;
  left: 96.5%;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 22px;
  z-index: 2;
  cursor: pointer;
}
.uparrow :hover {
  color: #fff;
}
.up-icon {
  margin-top: 6%;
  animation: scrollTop 0.5s alternate ease infinite;
}


@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-2px);
  }
}

@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 500px) {
  .cards-wrap {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
