/* CSS FOR THE LOADER */
.loader {
  color: rgba(32, 54, 71, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1% 2%;
  border-radius: 19px;
  border: 1px solid;
  box-shadow: 5px 7px rgba(32, 54, 71, 0.7);
  border-color: rgba(32, 54, 71, 1);
  font-weight: 600;
  text-transform: uppercase;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c8d8ea;
}
