* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #a6c8f075;
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.signin-signup {
  position: absolute;
  right: 10%;
  top: 27%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}
.signin-signup h2 {
  text-shadow: 2px 2px #fff;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.title {
  font-size: 2.2rem;
  color: #41519a;
  margin-bottom: 10px;
}
.input-field {
  max-width: 380px;
  width: 130%;
  height: 50%;
  background-color: whitesmoke;
  margin: 20px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 20% 80%;
  /* grid-template-columns: 95% 85%; */
  padding: 2% 5%;
}
.icon {
  color: #aaa;
  padding: 4px;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 500;
  font-size: 1rem;
}
.input-field input::placeholder {
  font-weight: 500;
  color: #aaa;
  margin-left: 2%;
}
.dark_btn {
  color: white;
  border-radius: 49px;
  width: auto;
  height: auto;
  cursor: pointer;
  border: none;
  background-color: #41519a;
  font-size: 1.05rem;
  font-weight: 600;
  margin-top: 20px;
  padding: 4% 10%;
}
.dark_btn:hover {
  background-color: #6d7dc5;
  color: #f1f1f1;
}
.signin {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.container:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 145%;
  border-radius: 50%;
  background: #41519a;
  top: -10%;
  right: 45%;
  transform: translateY(-35%);
}
.panel-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.content {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  width: fit-content;
  align-items: center;
  text-align: justify;
}
.image {
  width: 27%;
  position: absolute;
  left: 10%;
  margin-top: 1%;
}
.light_btn {
  color: #fff;
  width: auto;
  height: auto;
  border-radius: 49px;
  cursor: pointer;
  border: solid white 2px;
  background-color: #ffffff00;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 20px;
  padding: 1.5% 4%;
}
h3,
p {
  color: white;
  letter-spacing: 1.5px;
}
.panel-container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 3.5%;
}
.panel-container {
  padding: 2% 17% 2% 8%;
}
/* .password__invalid{

} */
